.Comps,.temprature-pair{
    display:flex;
    justify-content: space-around;

}
h1{
    text-decoration: underline overline;
}
h2 {
    text-decoration: underline ;
}

.component,.temprature-pair{
    margin:10px;
    padding: 30px;
    background-color: rgba(245, 199, 14, 0.875);
    border: 2px dashed rgb(254, 137, 41);

}
button{
   align-self: center;
}

.CompComposition{
    text-align: left;
}
.focus{
    outline:2px solid ;
}