*{
    box-sizing: border-box;
    text-align: center;
}
nav ul  {
    background-color: rgb(143, 218, 225);
    padding:10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5px 0px;
}
nav ul li{
    background-color: blue;
    color: white;
    padding: 10px 30px;
    list-style-type: none;
}
a{
    color: white;
    text-decoration: none;
}
button{
    padding:10px 20px;
    margin: 20px;
    color:white;
    background-color: blue;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-wrapper{
    display:flex;
    flex-direction: column;
    padding:30px;
    margin:10px;
    border:1px solid blue;
    background-color: aqua;
    width: 40%;
}
.emailWrap,
.websiteWrap,
.companyWrap{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}
.label{
    width:40%;
    justify-content: flex-start;

}
